* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border: 15px solid black;
    border-radius: 50px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

/* Buttons */

button {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: none;
    margin: 0.4rem;
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
}

button.operator.math {
    background-color: rgb(255, 149, 0);
    font-weight: 550;
    font-size: 2.7rem;
}

button.operator.plus-minus,
button.operator.percent,
button.operator.all-clear {
    background-color: rgb(212, 212, 210);
    color: rgb(28, 28, 28);
}

button.number,
button.operator.decimal {
    background-color: rgb(80, 80, 80);
}

button.number#zero {
    display: flex;
    flex-grow: 1;
    border-radius: 3.438rem;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
}

/* Display */

.display {
    display: flex;
    min-height: 12.5rem;
    background-color: black;
    font-size: 5.5rem;
    color: rgb(255, 255, 255);
    padding: 5px 25px;
    justify-content: flex-end;
    align-items: flex-end;
}